<a href="https://colab.research.google.com/github/Vinesh2121/DAUP-LAB-37-/blob/main/2203A52121_DAUP_B37_LAB_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import skew, kurtosis

In [2]:
# Load the dataset
df = pd.read_csv("/content/Bank-Customer-Attrition-Insights-Data.csv")

In [3]:
# Display basic information
display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

None

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15598695,Fields,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15649354,Johnston,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15737556,Vasilyev,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15671610,Hooper,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15625092,Colombo,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [4]:
df.columns = df.columns.str.lower()
expected_columns = ['balance', 'creditscore', 'transactioncount']
existing_columns = [col for col in expected_columns if col in df.columns]
if not existing_columns:
    raise KeyError("None of the expected numerical columns found in dataset")
if not existing_columns:
    raise KeyError("None of the expected numerical columns found in dataset")

if existing_columns:
    summary_stats_standard = df[existing_columns].agg(['mean', 'median', 'std'])

    summary_stats_custom = df[existing_columns].apply(lambda x: pd.Series({'skew': skew(x), 'kurtosis': kurtosis(x)}))

    summary_stats = pd.concat([summary_stats_standard, summary_stats_custom], axis=1)

    print("Summary Statistics:")
    print(summary_stats)

Summary Statistics:
               balance  creditscore   balance  creditscore
mean      76485.889288   650.528800       NaN          NaN
median    97198.540000   652.000000       NaN          NaN
std       62397.405202    96.653299       NaN          NaN
skew               NaN          NaN -0.141088    -0.071596
kurtosis           NaN          NaN -1.489267    -0.426113

In [5]:
categorical_columns = ['gender', 'geography', 'age']
categorical_columns = [col for col in categorical_columns if col in df.columns]
for col in categorical_columns:
    print(f"\nDistribution of {col}:")
    print(df[col].value_counts())

Distribution of gender:
gender
Male      5457
Female    4543
Name: count, dtype: int64

Distribution of geography:
geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

Distribution of age:
age
37    478
38    477
35    474
36    456
34    447
     ...
92      2
82      1
88      1
85      1
83      1
Name: count, Length: 70, dtype: int64

In [6]:
if 'transactioncount' in df.columns:
    active_customers = df[df['transactioncount'] > 0]
    inactive_customers = df[df['transactioncount'] == 0]

    print("\nActive Customers Transaction Count Statistics:")
    print(active_customers['transactioncount'].agg(['min', 'max', 'mean']))

    print("\nInactive Customers Transaction Count Statistics:")
    print(inactive_customers['transactioncount'].agg(['min', 'max', 'mean']))

In [7]:
if existing_columns:
    correlations = df[existing_columns].corr()
    print("\nCorrelation Matrix:")
    print(correlations)

Correlation Matrix:
              balance  creditscore
balance      1.000000     0.006268
creditscore  0.006268     1.000000

In [8]:
if 'churn' in df.columns:
    churned = df[df['churn'] == 1]
    stayed = df[df['churn'] == 0]

    churned_stats = churned[['balance', 'transactioncount']].describe()
    stayed_stats = stayed[['balance', 'transactioncount']].describe()

    print("\nStatistics for Churned Customers:")
    print(churned_stats)
    print("\nStatistics for Customers Who Stayed:")
    print(stayed_stats)
else:
    print("\n'Churn' column not found in dataset.")

'Churn' column not found in dataset.

In [9]:
if 'creditscore' in df.columns and 'balance' in df.columns:
    low_credit_threshold = df['creditscore'].quantile(0.25)
    high_balance_threshold = df['balance'].quantile(0.75)

    total_customers = len(df)
    low_credit_high_balance_customers = df[(df['creditscore'] <= low_credit_threshold) & (df['balance'] >= high_balance_threshold)]
    probability = len(low_credit_high_balance_customers) / total_customers

    print(f"\nProbability of a customer having both low credit score and high balance: {probability:.4f}")

Probability of a customer having both low credit score and high balance: 0.0638